header{
    height:100px;
    background-color: darkgrey;
    font-size: big;
    text-align: center;
}
.title{
text-align: center;
}
.price{
    background-color: blue;
    -webkit-text-fill-color: bisque;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#cart{
    padding:16px;
    border: 15px solid seagreen;
    width: 600px;
    margin:15% auto;
}
#cart > select,
#cart > input,
#cart > output{
    width:75px;
    margin-right: 16px;
}
output
{
    width:100px;
    font-weight: 700;
}